/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Common Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body-bg {
    background-color: #1A0B2E;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.common-btn {
    padding: 13px 22px;
    border: none;
    color: white;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 19px;
    cursor: pointer;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));

}

.common-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 28px rgba(145, 0, 248, 0.5);
}

.common-p {
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 20px;
    font-weight: 400;
}
/* Nav Style */

.logo {
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

.logo span {
    background: linear-gradient(20deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

nav ul {
    list-style: none;
    gap: 32px;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

nav ul:hover {
    color: rgb(201, 230, 255);
}

.nav-container {
    border-bottom: 1px solid rgba(174, 107, 250, 0.788);
}

.hamburger-img {
    width: 24px;
    height: 24px;
    display: none;
}

/* Hero Section Css Style */

.hero-section {
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 760px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 101px;
    text-align: center;
}

.hero-img {
    position: relative;
    width: 350px;
    height: 350px;
    cursor: pointer;
}

.hero-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-img img:first-child {
    width: 100%;
}

.hero-img img:last-child {
    width: 120px;
    z-index: 1;
}



.hero-text h2 {
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 73px;
    color: rgba(255, 255, 255, 1);
    margin-top: 40px;
    margin-bottom: 8px;
}


.hero-btn {
    margin: 20px;
    gap: 15px;
    align-items: center;
    justify-self: center;
}

.btn-2 {
    border: 2px solid #00FF88;
    background: transparent;
    color: #00FF88;
    padding: 13px 22px;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 19px;
    cursor: pointer;
}

.btn-2:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 28px rgba(145, 0, 248, 0.5);
}













/* responsive layout Styles */

@media screen and (max-width:576px) {

    /* Nav Style */

    nav ul li, nav button{
        display: none;
    }

    .hamburger-img {
        display: block;
    }
    
    .nav-container {
        padding: 0 20px;
    }

    /* Hero Section Style */
    .hero-section {
        height: auto;
        background-position: center top;
        
    }

     .hero-img {
        width: 200px;
        height: 200px;
    }

    
    .hero-img img:first-child {
        width: 100%;
    }

    .hero-img img:last-child {
        width: 50px;
    }

    .hero-text h2 {
        font-size: 2.5rem;
        line-height: 48px;
    }
    
    .hero-text p {
       padding: 0 20px;
    }

 

}