/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Common Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body-bg {
    background-color: #1A0B2E;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.common-btn {
    padding: 13px 22px;
    border: none;
    color: white;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 19px;
    cursor: pointer;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));

}

.common-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 28px rgba(145, 0, 248, 0.5);
}

.common-p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
    line-height: 20px;
    font-weight: 400;
}
/* Nav Style */

.logo {
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

.logo span {
    background: linear-gradient(20deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

nav ul {
    list-style: none;
    gap: 32px;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

nav ul:hover {
    color: rgb(201, 230, 255);
}

.nav-container {
    border-bottom: 1px solid rgba(174, 107, 250, 0.788);
}

.hamburger-img {
    width: 24px;
    height: 24px;
    display: none;
}

/* Hero Section Css Style */

.hero-section {
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 760px;
    
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 101px;
    text-align: center;
}

.hero-img {
    position: relative;
    width: 350px;
    height: 350px;
}

.hero-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-img img:first-child {
    width: 100%;
}

.hero-img img:last-child {
    width: 120px;
    z-index: 1;
}

.new {
    background-color: #00FF88;
    color: #1A0B2E;
    padding: 8px 16px;
    border-radius: 50px;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 22px;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
    position: absolute;
    top: 0;
    right: 35px;
}

.hero-text h2 {
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 73px;
    color: rgba(255, 255, 255, 1);
    margin-top: 40px;
    margin-bottom: 8px;
}


.hero-btn {
    margin: 20px 0;
    gap: 15px;
    align-items: center;
    justify-self: center;
}

.btn-2 {
    border: 1px solid #00FF88;
    background: transparent;
    color: #00FF88;
    padding: 13px 22px;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 19px;
    cursor: pointer;
}

.btn-2:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 28px rgba(145, 0, 248, 0.5);
}
/* Hero Section Style End */


/* About the Podcast Section Styles */


.podcast-section {
    background-color: rgba(26, 11, 46, 1);
    padding-top: 50px;
    padding-bottom: 100px;
}

.podcast-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.podcast-section h2, .techWave-title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 58px;
    color: white;
    margin-bottom: 16px;
}

.podcast-p {
    margin-bottom: 45px;
}

.information-grid {
    margin-top: 80.5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    text-align: center;
    padding-top: 80px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.information-item h3 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 58px;
    color: rgba(0, 255, 136, 1);
    margin-bottom: 8px;
}

.information-item p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
}

/* About the Podcast Section End*/

/* Why Choose TechWave Styles Css */

.why-choose-techwave {
    background-color: rgba(35, 14, 61, 1);
}

.techWave-title {
    padding-top: 120px;
    margin-bottom: 40px;
    text-align: center;
}

.card-description h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 29px;
    color: rgba(255, 255, 255, 1);
    margin: 16px 0;
}

.card-item {
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
}

.why-choose-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding-bottom: 120px;
}

.card-1 {
    grid-row: span 2;
    width: 380px;
    height: 480px;
}

.card-2 , .card-3 {
    grid-column: span 2;
    width: 790px;
    height: 225px;
}

.card-4 {
    grid-column: span 2;
    width: 790px;
    height: 273px;
}

.card-5 {
    grid-column: span 1;
    width: 380px;
    height: 273px;
}

/* Why Choose TechWave Styles Css End*/












/* ------------------------------------ */
/* responsive layout Styles */

@media screen and (max-width:576px) {


    /* Nav Style */

    nav ul li, nav button{
        display: none;
    }

    .hamburger-img {
        display: block;
    }
    
    .nav-container {
        padding: 0 20px;
    }

    /* Hero Section Style */

    .hero-section {
        height: auto;
        background-position: center top;
        background-size: 100% 100%;
        
    }

    .hero-img {
        width: 200px;
        height: 200px;
        
    }
    
    .hero-img img:first-child {
        width: 100%;
    }

    .hero-img2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80px;
    }

    .new {
        right: -15px;
    }

    .hero-text h2 {
        font-size: 2.5rem;
        line-height: 48px;
    }
    
    .hero-text p {
       padding: 0 20px;
    }

    .common-btn , .btn-2{
        padding: 12px 20px;

    }

    .hero-btn {
        margin-bottom: 40px;
        gap: 8px;
    }
    /* Hero Section Style End */


    /* About the Podcast Section Styles */

    .podcast-section {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .podcast-section h2, .techWave-title {
        font-size: 2rem;
        font-weight: 700;
        line-height: 39px;

    }

    .podcast-section p {
        font-size: 16px;
        max-width: 400px;
        text-align: center;
        padding: 0 5px;
    }

    .information-grid {
        margin-top: 40px;
        padding-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-items: center;
        text-align: center;
    }

    .information-item h3 {
        font-size: 2rem;
        font-weight: 900;
        line-height: 48px;
        color: rgba(0, 255, 136, 1);
        margin-bottom: 0px;

    }

    /* About the Podcast Section End*/

    /* Why Choose TechWave Styles Css */

    .why-choose-card {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
        row-gap: 20px;
        column-gap: 0;
        padding-bottom: 40px;
    }

    .card-item {
        width: 100%;
        height: 100%;
        border-radius: 24px;
    }

    .techWave-title {
        font-size: 1.8rem;
        padding-top: 40px;
        margin-bottom: 16px;
    }





    
}